body {
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    color: white;
}
#result {
    font-family: Verdana;
    border: 1px solid black;
    min-height: 10rem;
    font-size: 12px;

    #feedback {
        border: 1px solid black;
        margin: 1px;
        display: block;
        text-align: center;
    }
}
.hide {
    display: none !important;
}